@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #0095a9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: #0095a9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .focus\:shadow-outline:focus {
    box-shadow: 0 0 0 3px rgba(135, 206, 235, 0.45);
  }
}

@layer components {
  .button-principal {
    @apply flex justify-center  bg-actions w-52 text-aux_actions 
         py-2 px-4 mx-2 my-2 rounded-sm font-bold;
  }
}

@layer components {
  .button-error {
    @apply inline-flex items-center h-10 px-10 text-white font-bold transition-colors duration-150 bg-[#fb4d4d] rounded-full hover:bg-[#d32d2d] hover:shadow-lg;
  }
}

@layer components {
  .button-inactivo {
    @apply cursor-not-allowed flex justify-center w-52 bg-[#ffed62]  text-white
         py-2 px-4 mx-2 my-2 rounded-sm;
  }
}
